h1 {
  color:blue;
  font-size: 250%;
}

p {
  margin-left: 40px;
  text-indent: 20;
  font-family:"Arial";
}
p1 {
  margin-left: 40px;
}

#Intro{
  background-color: #ffa500;
  width: 500px;
  height: 600px;
  padding: 10px;
  margin: 10px;
  border: solid 1px #0000FF;
  font-size: 20px;
  margin-left: 40px;
  text-indent: 20;
  font-family:"Arial";
}
